@import url("./dashboard.css/header.css");
@import url("./dashboard.css/main.css");
@import url("./dashboard.css/graficos.css");
@import url("./dashboard.css/responsivo.css");
@import url("./dashboard.css/menuMobile.css");
@import url("./buttonConfig.css/buttonConfig.css");
@import url("./buttonConfig.css/responsivoConfig.css");
@import url("./index.css/headerIndex.css");
@import url("./index.css/main.css");
@import url("./index.css/secundaria.css");
@import url("./index.css/login.css");
@import url("./index.css/tabnav.css");
@import url("./index.css/gestaoEQuemSomos.css");
@import url("./index.css/footer.css");
@import url("./index.css/responsivo.css");
@import url("./index.css/menuMobile.css");
@import url("./erro.css");
@import url("./cadastro.css/cadastro.css");
@import url("./planejamneto.css/lista.css");
@import url("./planejamneto.css/responsivo.css");
@import url("./user.css/user.css");
@import url("./user.css/responsivo.css");

/* Thema */
@import url("./theme/themeButton.css");
@import url("./theme/themeIndex.css");
@import url("./theme/themeCadastro.css");
@import url("./theme/themeDashboard.css");
@import url("./theme/themePlanejamento.css");
@import url("./theme/themeUser.css");
@import url("./theme/themeConfig.css");
@import url("./theme/themeButtonFont.css");
@import url("./theme/themeNotif.css");

@import url("./configuracoes.css/configuracoes.css");
@import url("./notficacoes.css/notficacoes.css");
@import url("./fontSize.css/fontSize.css");

@import url("./termosDeUso.css/termosDeUso.css");
@import url("./contato.css/responsivo.css");
@import url("./politicaEPrivacidade.css/politicaEPrivacidade.css");
@import url("./contato.css/contato.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html,
body {
  height: 100%;
}

:root {
  --cor1: #ffffff;
  --cor2: #121d77;
  --cor3: #112e49;
  --cor4: #504f4f;
  --cor5: #6e6d6d;
  --cor6: #e2dfdf;
  --cor7: #f8f6f6;
  --cor8: #161616;
}

