@media screen and (max-width: 1300px){
  .entrada-salario,
  .gastos-totais{
    width: 220px;
  }

  .containerLista span p,
  .containerLista span label{
    font-size: 14px;
  }

}

@media screen and (max-width: 900px){
  .planejamento{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .info-planejamento{
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
  }

  .gastos-totais{
    display: flex;
    height: 155px;
    justify-content: space-around;
  }

  .containerLista .fomr{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .form .notf{
    margin-left: -10px;
  }

  .btnAdd{
    margin-left: 5px;
  }

  .btnAdd button{
    width: 85px;
    font-size: 14px;
    margin-left: 5px;
  }

}

@media screen and (max-width: 500px) {
  .containerLista.desktop{
    display: none;
  }

  .entrada-salario{
    gap: 3px;
  }

  .gastos-totais{
    height: 135px;
  }

  .entrada-salario h2,
  .gastos-totais h2{
    font-size: 15px;
  }

  .containerListaMobile{
    display: flex;
    flex-direction: column;
    gap: 20px;
    background: white ;
    width: 100%;
    padding: 20px;
    border-radius: 10px;
  }

  .containerListaMobile h2{
    width: 100%;
    text-align: center;
  }

  .formMobile{
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .formMobile div{
    display: flex;
    gap: 2%;
  }

  .formMobile div input{
    padding: 5px;
    width: 48%;
    font-size: 15px;
    border: none;
    border-bottom: 2px solid var(--cor6)
  }

  .formMobile div input:focus{
    outline: none;
  }

  .formMobile select{
    padding: 5px;
    outline: none;
  }

  .formMobile div button{
    padding: 7px;
    width: 100%;
    background: var(--cor2);
    color: white;
    font-weight: 900;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
  }

  .formMobile div button i{
    font-size: 15px;
  }

  .formMobile div button:hover{
    background-color: var(--cor3);
  }

  .formMobile div button:active{
    box-shadow: none;
  }
}

@media screen and (max-width: 330px){

  .info-planejamento{
    gap: 10px;
  }

  .entrada-salario h2,
  .gastos-totais h2{
    font-size: 12px;
  }

  .entrada-salario input,
  .gastos-totais input{
    width: 70%;
    padding: 8px;
    font-size: 12px;
  }

  .gastos-totais{
    height: 119px;
  }

}