.user {
  display: flex;
  flex-direction: row;
}

.userPerfil{
  display: flex;
  justify-content: center;
  align-items: start;
}

.userInfo{
  display: flex;
  flex-direction: column;
  width: 100%;
  background: white;
  gap: 60px;
  padding: 30px;
  overflow: auto;
}

.userInfo .tituloUser{
  width: 100%;
  display: flex;
  align-items: center;
  padding: 20px 0px;
}

.userInfo .tituloUser h2{
  font-size: 35px;
  position: relative;
}

.userInfo .tituloUser h2::after{
  content: "";
  position: absolute;
  display: block;
  width: 400px;
  height: 2px;
  margin-top: 20px;
  background-color: var(--cor5);
}

.userInfo form{
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.userInfo label{
  display: flex;
  flex-direction: column;
  font-size: 20px;
  width: 100%;
  justify-content: center;
}

.userInfo label input{
  background: var(--cor6);
  padding: 15px;
  width: 450px;
  border: none;
  margin-right: 20px;
  font-size: 20px;
}

.userInfo label input:focus{
  outline: 1px  solid var(--cor5);
}

.userInfo label div button{
  width: 60px;
  height: 50px;
  margin-left: 5px;
  background: white;
  font-size: 25px;
  cursor: pointer;
  border: none;
  color: var(--cor4);
}

.userInfo label div button:active{
  color: black;
}

.userInfo label div i{
  display: flex;
  justify-content: center;
  align-items: center;
}