@import url('./header.css');
@import url("./main.css");
@import url("./graficos.css");
@import url("./responsivo.css");
@import url("./menuMobile.css");

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html, body{height: 100%;}

:root{
  --cor1: #FFFFFF;
  --cor2: #121d77;
  --cor3: #112E49;
}