@import url("./dashboard.css/header.css");
@import url("./dashboard.css/main.css");
@import url("./dashboard.css/graficos.css");
@import url("./dashboard.css/responsivo.css");
@import url("./dashboard.css/menuMobile.css");
@import url("./buttonConfig.css/buttonConfig.css");
@import url("./buttonConfig.css/responsivoConfig.css");
@import url("./index.css/headerIndex.css");
@import url("./index.css/main.css");
@import url("./index.css/secundaria.css");
@import url("./index.css/login.css");
@import url("./index.css/tabnav.css");
@import url("./index.css/footer.css");
@import url("./index.css/responsivo.css");
@import url("./index.css/menuMobile.css");
@import url("./erro.css");
@import url("./cadastro.css/cadastro.css");
@import url("./planejamneto.css/lista.css");
@import url("./planejamneto.css/responsivo.css");
@import url("./user.css/user.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html,
body {
  height: 100%;
}

:root {
  --cor1: #ffffff;
  --cor2: #121d77;
  --cor3: #112e49;
  --cor4: #504f4f;
  --cor5: #6e6d6d;
  --cor6: #e2dfdf;
}
