.cadastro-header{
  background: var(--cor2);
  animation: none;
  padding: 40px 0px;
  position: initial;
}

.infoPessoais{
  display: flex;
}

.infoAdicionais{
  display: none;
}

.logo-nav h2{
  color: white ;
  margin-left: -100px;
}

.main-cadastro{
  display: flex;
  width: 100%;
  height: 85vh;
  justify-content: center;
  align-items: center;
}

.container-cadastro{
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0,0,0,0.35) 0px 5px 15px;
  padding: 20px;
}

.cadastro-progressBar{
  width: 100%;
  display: flex;
  justify-content: space-around;
  font-size: 25px;
  padding: 0px 0px 10px 0px;
  color: var(--cor5);
  position: relative;
  z-index: 1;
  
}

.cadastro-progressBar i{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--cor6);
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.cadastro-progressBar i:nth-child(1){
  background-color: rgb(9, 204, 9);
  color: white;
}

.cadastro-progressBar::before{
  content: "";
  width: 30%;
  height: 10px;
  left: 0;
  background-color: rgb(9, 204, 9);
  position: absolute;
  top: 30%;
  border-radius: 20px;
  z-index: -1;
  transition: 1s;
}

.form-cadastro{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-cadastro div{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-cadastro div:nth-child(2){
  flex-direction: row;
}

.form-cadastro input{
  padding: 10px;
  border: 0;
  border-bottom: 1px solid var(--cor6);
  font-size: 16px;
}

.form-cadastro input:focus{
  outline: none;
}

.form-cadastro div #sexo{
  width: 200px;
  border: none;
  border-bottom: 1px solid var(--cor6);
  cursor: pointer;
}

.form-cadastro div #sexo:focus{
  outline: none;
}

.form-cadastro div #sexo option{
  font-size: 14px;
}

.form-cadastro div #dataNasc{
  font-size: 14px;
  cursor: pointer;
}

.form-cadastro div:nth-child(4){
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-cadastro div button{
  width: 300px;
  padding: 12px;
  border: 2px solid var(--cor3);
  border-radius: 20px;
  color: var(--cor3);
  background-color: white;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}

.form-cadastro div button:hover{
  background-color: var(--cor3);
  color: white;
}

.form-cadastro div #termos{
  cursor: pointer;
  width: 30px;
}

.infoAdicionais .form-cadastro div{
  flex-direction: column;
}

.infoAdicionais .form-cadastro .endereco{
  display: flex;
  flex-direction: row;
}

.infoAdicionais .form-cadastro .endereco input:nth-child(2){
  width: 100px;
}

.infoAdicionais .form-cadastro .btn{
  align-items: center;
}